back_end/.phpunit.cache
back_end/node_modules
back_end/public/build
back_end/public/hot
back_end/public/storage
back_end/storage/*.key
back_end/storage/pail
back_end/vendor
back_end.env
back_end.env.backup
back_end.env.production
back_end.phpactor.json
back_end.phpunit.result.cache
back_endHomestead.json
back_endHomestead.yaml
back_endnpm-debug.log
back_endyarn-error.log
back_end/auth.json
back_end/.fleet
back_end/.idea
back_end/.nova
back_end/.vscode
back_end/.zed
